<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nord.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">
    <noscript>
        <style>
            nav {
                max-height: initial;
            }
            .menu-link {
                display: none;
            }
        </style>
    </noscript>
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="terminal bordered">
        <h1><a href="/" class="quiet-link">{{@site.title}}</a></h1>
        <p class="secondary">
            <span>{{@site.description}}</span>
            {{#if @site.navigation}}
            <span class="secondary"><a class="menu-link">[<span class="menu-state">+</span>] Menu</a></span>
            {{/if}}
        </p>

        {{#if @site.navigation}}
        <nav>
            <hr>
            {{navigation}}
        </nav>
        {{/if}}

        <hr>

        {{{body}}}
    </div>
    {{ghost_foot}}
    <script src="{{asset "js/script.js"}}"></script>
</body>
</html>